/*
    Common
*/


tooltip {
    background-color: black;
    border-radius: 5px;
}

.dropdown {
    margin: 6px;
}

/*
    Powermenu
*/ 

.btn-powermenu {
    padding: 20px;
}

.btn-powermenu-text {
    font-size: 30px;
}

.btn-poweroff {
    color: $red;
}
