$profile-size: 64px;

/*
    Common
*/

tooltip {
    background-color: black;
    border-radius: 5px;
}

.dropdown {
    margin: 6px;
    padding: 10px;
}

/*
    Profile
*/

.image-profile {
    min-height: $profile-size;
    min-width: $profile-size;
    border-radius: 100%;
    background-size: $profile-size;
}

/*
    Powermenu
*/ 

.btn-powermenu {
    padding: 20px 10px;
}

.btn-powermenu-text {
    font-size: 30px;
}

.btn-poweroff {
    color: $red;
}
