.bar {
    margin: 6px 6px 4px 6px;
}

/*
    Common
*/

/*
    Launcher
*/

.btn-launcher {
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.launcher-icon {
    font-size: 2rem;
    color: $blue;
}

/*
    Workspaces
*/

.workspace-current {
    color: $green;
}

.workspace-fullscreen {
    // color: $blue;
    text-decoration: underline;
}

.workspace-button {
    padding: 0 0.75rem;
}

/*
    Battery
*/

.battery-icon.charging {
    color: $green;
}
.battery-icon.low {
    color: $red;
}

/*
    Screenshot
*/ 

.btn-screenshot {
    padding-right: 1.5rem;
}

/*
    Dropdown
*/

.btn-dropdown {
    padding-left: 1rem;
    padding-right: 1rem;
}

.icon-dropdown {
    font-size: 1.75rem;
}

/*
    Misc
*/

.icon {
    font-size: 1.5rem;
}

.off-icon {
    padding-right: 0.725rem;
}
