.launcher {
    margin: 6px;
    padding: 1em;
}

.launcher-search {
    padding: 0.5em 0;
    background-color: #24283b;
    border-radius: 0.5em;
}

.launcher-search > label {
    padding: 0 0.5em;
    font-size: 1.2em;
}

.launcher-search-input {
    min-width: 500px;
    font-size: 1.1em;
}

.launcher-item {
    padding: 3px;
}
